*.lo
*.la
Makefile
Makefile.in
.deps
.libs
.dirstamp
*~
/aclocal.m4
/autom4te.cache/
config.log
config.status
configure
stamp-h*
libtool
src/libltdl
/config/argz.m4
/config/autogen_found_items.m4
/config/compile
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/libtool.m4
/config/ltdl.m4
/config/ltmain.sh
/config/ltoptions.m4
/config/ltversion.m4
/config/lt~obsolete.m4
/config/missing
/include/cci/configure_output.h
/include/cci/configure_output.h.in
build*
*.dSYM
*patch
*txt
